* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body h1 {
  text-align: center;
  margin: 20px;
}

input {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 15%;
}

button {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

button:hover {
  color: white;
  background-color: gray;
}

.container-input {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 22%;
  align-items: center;
}

li:hover {
  background-color: lightgray;
}

.delete-btn {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 10%;
}

.concluida {
  text-decoration: line-through;
}